
*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/roboto-regular.woff"),
        url("../fonts/Roboto/roboto-regular.woff2"),
        url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;

}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Medium.ttf"),
        url("../fonts/Roboto/roboto-medium.woff"),
        url("../fonts/Roboto/roboto-medium.woff2");
    font-weight: 500;

}

.body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.wrap{
    width: 1270px;
    outline: 3px solid mediumvioletred;
    margin: 0 auto;
}
.header {
    background-image: url("../img/bg_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 1920px;*/
    /*height: 1024px;*/
    /*outline: 2px solid deeppink;*/
}
.heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 52px;
}

/*.btn {*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-weight: 400;*/
/*}*/

/*.heading{*/
/*    font-family: Raleway;*/
/*    font-weight: 600;*/
/*    font-size: 30px;*/
/*    line-height: 35px;*/
/*    text-align: center;*/
/*    color: #555555;*/
/*}*/

/*.text{*/
/*    font-family: Montserrat;*/
/*    font-weight: 300;*/
/*    font-size: 16px;*/
/*    line-height: 20px;*/
/*    text-align: center;*/
/*    color: #8C8C8C;*/
/*}*/



.header-top{
    display: flex;
    padding-top: 39px;
}

.header-top-logo{
    display: flex;
    cursor: pointer;

}

.header-logo-text{
    font-family: Raleway;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;

}

.header-top-menu{
    display: flex;
    margin-left: 300px;
    /*outline: 3px solid lightskyblue;*/
}
.header-top-menu-item{
    text-decoration: none;
    padding-top: 17px;
    margin-left: 30px;


}
.header-top-item-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.header-top-item-text:hover{
    color: #C7B299;
}

.header-top-icons{
    cursor: pointer;
    /*margin-left: 29px;*/
    margin-top: 10px;
    outline: 3px solid lightskyblue;
    margin-left: 20px;

}
.header-icons-img{
    padding-left: 15px;
}


.header-buttom{
    display: flex;
    flex-direction: column;
    outline: 1px solid greenyellow;
    color: #FFFFFF;
    /*width: 1920px;*/
    /*height: 617px;*/
    padding-top: 420px;
    padding-bottom: 326px ;
    align-items: center;
    padding-left: 30px;
}
.header-buttom-heading{
    font-family: Raleway;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.header-buttom-main{
    font-family: Raleway;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
}

.header-buttom-text{
    margin-top: 4px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 39px;

}

.button{
    /*margin-top: 39px;*/
    background: #988574;
    border: none;
    border-radius: 3px;
    padding: 19px 40px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    background: white;
    color: #989898;
}

/*Services*/

.product-items {
    /*outline: 1px solid red ;*/
    display: flex;
    padding: 50px;
    /*justify-content: center;*/
    /*align-items: left;*/
    text-align: center;

    /*align-items: center;*/
    /*margin-left: 30px;*/


}
.product-item {
    /*outline: 1px solid blue ;*/
    cursor: pointer;
    margin-right: 30px;


}



.product-heding{
    margin-top: 31px;
    margin-bottom: 20px;
}

.product-item:hover{
    color: #C7B299;
    border-bottom: 2px solid #C7B199;
    border-width: 1px;
}

.product-text{
    width: 270px;
}
/*Waxon is realization*/
.realization{
    background: #FBFAF8;
}
.realization-items{
text-align: center;
}


.realization-heading{
    padding-top: 80px;
}
.realization-text{
    margin-top: 20px;
    margin-bottom: 42px;

}

/*Purchase now*/

.purchase{
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    color: #E5E5E5;
}

.purchase-items {
    display: flex;
    padding-top: 54px;
    justify-content:space-between;
    padding-bottom: 45px;


}

.purchase-heading-items{
    display: flex;
    font-family: Raleway;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

}

.purcase-heading-item-one{
    color: #C7B299;
    padding-right: 7px;
}

.purchase-text, .posts-text{
    color: #615855;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    font-family: Montserrat;
    padding-top: 10px;
}
.purchase-heading{
    /*outline: 3px solid #00b3ff;*/
    padding-left: 20px;
}

.purchase-btn{
    /*outline: 3px solid #00b3ff;*/
    margin-right: 20px;
    margin-top: 10px;
}


/*Our latest project*/
.project-items{
    padding-top: 61px;
}
.projects-text{
    text-align: center;
}
.projects-text-prgrph{
    margin-top: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
}

.projects-text-heading{
    font-family: Raleway;
    color: #555555;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}
.project-btn{
    margin-top: 34px;
    /*margin-left: 665px;*/
    text-align: center;
    /*display: flex;*/

    /*outline: 1px solid red ;*/

    /*justify-content: center;*/

}
.project-btn-item{

    background: #ffffff;
    color: #8C8C8C;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 7px 17px;
    margin-right: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

}
.project-items{
    /*margin-top: 89px;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: 33px;
    /*outline: 1px solid red ;*/
}
.project-items-box{
    margin-right: 20px;
    /*outline: 2px solid yellow;*/
}
.project-items-item{
    margin-bottom: 69px;
    background: #FBFAF8;
    transition: 0.4s;
}

.project-items-item:hover{
    background: #352F2D;
    transform: scale(1.1);
}

.project-items-item:hover .project-items-item-text{
    color:#ffffff;
}


.project-items-item:hover .project-items-item-sign{
    color:#ffffff;
}


.project-items-item-text{

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.4s;
    color: #C7B299;
    padding-top: 26px;
    padding-left: 26px;
}

.project-items-item-img{
    display: block;
}

.project-items-item-sign{
    transition: 0.4s;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    padding-bottom: 51px;
    padding-left: 26px;
}

.project-items-card-box, .posts-items-box{
    position: relative;
}

.project-items-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #352F2D91;
    opacity: 0;
    transition: 0.4s;
}
.project-items-item:hover .project-items-overlay{
    opacity: 1;

}

/*.project-bottom{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    !*align-items: start;*!*/
/*    !*outline: 1px solid red ;*!*/
/*    margin-left: 200px;*/
/*}*/

/*Video prezentation*/

.video{
    background-image: url("../img/bg_video_presentation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 1920px;*/
    /*height: 705px;*/
}
/*.video-prezentation-img{*/
/*    width: 46px;*/
/*}*/
.video-items{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    display: block;
    margin: auto;
    text-align: center;
    color: #ffffff;
    padding-top: 400px;
    padding-bottom: 300px;
    /*outline: 1px solid red ;*/
}

.video-items-heading{
    margin-top: 46px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    /*line-height: 35px;*/
}

.video-items-text{
    margin-top: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    /*line-height: 20px;*/
}

/*Mobile devices*/
.device{
    display: flex;
    justify-content: center;

    padding-top: 80px;
}

/*.devices-phone-img{*/
/*    outline: 1px solid deepskyblue ;*/
/*    margin-left: 421px;*/
/*}*/
.devices-text-item{
    /*outline: 1px solid greenyellow ;*/
    margin-left: 64px;
    margin-top: 90px;
    /*width: 670px;*/
    text-align: left;
}
.devices-heading{
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
}
.devices-text, .devices-list-items{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
}
.devices-text{
    margin-right: 100px;
    /*outline: 3px solid blueviolet;*/
}
.devices-list{
    margin-top: 50px;
    margin-left: 160px;
    list-style-image: url(../img/devices-item.svg);
}


/*Counters*/

.counters{
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
color:#ffffff;
}
.counters-items{
    display: flex;
    justify-content: center;
    padding-top: 37px;
    padding-bottom: 37px;
    text-align: center;
}
.counters-item{
    margin-right: 50px;
}
.counters-item-number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
}

.counters-item-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
    border-bottom: #C7B299;
}

/*Recent posts*/
.posts{
    background: #ffffff;

}
.posts-items{
    padding-top: 100px;

}

.posts-items-boxer{
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    outline: 3px solid #00b3ff;
    padding-left: 35px;

}
.posts-text{

    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 30px;
}

/*partners*/

.partners{
    background-image: url("../img/bg_partners.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.partner-items{
    padding-top: 200px;
    padding-bottom: 200px;
padding-left: 90px;
}

.partner-items-img{
    padding-right: 75px;
}

/*Footer*/

.copyright{
    background: #101010;
    color: #555555;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.copyright-items{
    display: flex;
    padding-top: 58px;
    padding-bottom: 41px;
}
.copyright-item{
    text-decoration: none;
    color: #555555;
    margin-left: 25px;
}

